# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git\Revis-o-Kotlin-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
